* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif, serif, fantasy;
	color: #222;
	background: #f7f5f0;
}


a {
	text-decoration: none;
	position: relative;
	color: whitesmoke;


}

a:hover {
	color: whitesmoke;
}

.main-nav {
	width: 100%;
	background: maroon;
	min-height: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
}

.nav {
	display: flex;
	justify-content: space-around;
	font-weight: 700;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	
}
.nav .name {
	display: none;
}

.nav li {
	padding: 5px 10px 10px 10px;
	border-radius: 6px;
	display: flex;
	background: mediumpurple;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 2px;
    position: relative;
    float: left;
}

.nav li {
	transition: all .3s;
	
}


.nav li:hover {

	transform: scale(1.2) rotate(7deg);
}

header {

	text-align: center;
	background: url('css-img/river.jpg') no-repeat top center;
	background-size: cover;
	overflow: hidden;
	padding-top: 60px;
}

header {
	line-height: 1.5;
}

header .profile-image {
	margin-top: 50px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px ridge darkred;
	transition: all .5s;
}

header .profile-image:hover {

	transform: scale(1.2) rotate(5deg);

}

.tag {

	background-color: #e2e2e2;
	color: black;
	padding: 10px;
	border-radius: 5px;
	display: table;
	margin: 10px auto;
}
.location {
	background-color: #222;
	color: yellow;
}
.card {
	margin: 30px;
	padding: 20px 40px 40px;
	max-width: 500px;
	text-align: left;
	background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
	text-align: center;
	border: 5px white solid;
	background-origin: 5px;
}
.card:hover{
	border-color: #ff99ff;
}
ul.skills {
	padding: 0;
	text-align: center;	
}

.skills li {

	border-radius: 6px;
	display: inline-block;
	background: #ff9904;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 2px;
}

.skills li:nth-child(odd) {
	background: #0993F3;
}

ul.contactme {

	list-style-type: none;
}

.contactme li {
	border-radius: 6px;
	display: inline-block;
	background: #D614DC;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 2px;
}

.contactme li:nth-child(odd) {
	background: #14DC35;
}



footer {
	width: 100%;
	min-height: 30px;
	padding: 20px 0 40px 20px;	
}

footer .copyright {
	top: -8px;
	margin-right: 20px;
	font-size: .75em;	
	font-weight: bold;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


footer ul li {
	display: inline-block;
}

a.social {
	display: inline-block;
	text-indent: -9999px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	opacity: .5;
	transition: all .25s;
}

a.twitter {

	background-image: url('css-img/twitter.svg');
}

a.linkedin {

	background-image: url('css-img/linkedin.svg');
}

a.github {

	background-image: url('css-img/github.svg');
}

a.social.hover {

	opacity: 1;
}

.clearfix {
	clear: both;
}


@media screen and (min-width: 720px) {

	.flex {
		display: flex;
		max-width: 1200px;
		justify-content: space-around;
		margin: 0 auto;
	}

header {
	min-height: 450px;
}

.nav {
	max-width: 1200px;
}
.nav .name {
	display: block;
	margin-right: auto;
	color: whitesmoke;
}

main {
	padding-top: 50px;
}
main p {
	line-height: 1.6em;
}

footer {
	font-size: 1.3em;
	max-width: 1200pm;
	margin: 40px auto;
}


.mygallery {

	border-style: solid;
	border-color: whitesmoke;
	padding: 20px;
	margin: 20px;
	background: linear-gradient(to right, lightgoldenrodyellow, whitesmoke);
	overflow: auto;
	width: auto;
	display: flex;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	justify-items: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

}

.imagegallery {
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 10px;
}

.imagetitle {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.contactme-anchor {
    color: steelblue;
    font-style: italic;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    background-color: pink;
}
.contactme-anchor:hover {
	color: black;
	transform: scale(1.2) rotate(55deg);
}
.bitcoin-img {
    border: 2px black solid;
    border-radius: 5px;
    padding: 3px;
    background-color: red;
}

.payment li {
	border-radius: 6px;
	display: inline-block;
	background: mediumpurple;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 2px;
}

.payment li:nth-child(odd) {
	background: navy;
}

.secondmain {
	display:inline-block;
	border: 5px white solid;
	border-radius: 5px;
	margin: 30px;
	padding: 20px 40px 40px;
	max-width: 500px;
	text-align: left;
	background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
	text-align: center;
	border: 5px white solid;
	background-origin: 5px;

}
.secondmain:hover {
	border-color: #ff99ff;
}

/*
.nav li:hover ul ul {display:none;}

.nav ul {
position:absolute;
padding:0;
left:0;
display:none;
}
.nav li:hover ul {display:block;} 

*/


